/*-----------------------------------------------------------------------------------------------------------------
 ORIENTATION PAYSAGE
------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 960px) {
  section {
    padding: 50px 0;
  }
  .menu {
    display: none;
  }
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }
  .row {
    width: 100%;
    position: relative;
    overflow: hidden;
    clear: both;
  }
  .full {
    width: 100%;
  }
  .menuIphone {
    display: none;
  }
  /*-------- colonnes ------------------*/
  /*-------- goutière ------------------*/
  .un {
    width: 6.3333%;
  }
  .deux {
    width: 14.66666%;
  }
  .trois {
    width: 22.99999%;
  }
  .quatre {
    width: 31.33333%;
  }
  .cinq {
    width: 39.66666%;
  }
  .six {
    width: 47.99999%;
  }
  .sept {
    width: 56.33333%;
  }
  .huit {
    width: 64.66666%;
  }
  .neuf {
    width: 72.99999%;
  }
  .dix {
    width: 81.33333%;
  }
  .onze {
    width: 89.666666%;
  }
  .douze {
    width: 97.999999%;
  }
  /*-------------------------- colonnes + goutière --------------------------------*/
  .un,
  .deux,
  .trois,
  .quatre,
  .cinq,
  .six,
  .sept,
  .huit,
  .neuf,
  .dix,
  .onze,
  .douze {
    float: left;
    margin-right: 2%;
    position: relative;
    min-height: 1px;
    display: inline-block;
  }
  /*-------------------------- cinquieme --------------------------------*/
  .cinquieme {
    margin: 1.5%;
    width: 16.5%;
    display: inline-block;
    vertical-align: top;
  }
}
/*---------------------------------------------------------------------------------------------------------------
ORIENTATION PORTRAIT SMARTPHONE
----------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 960px) {
  body {
    width: 100%;
  }
  section {
    padding: 50px 0;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .row {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .desactive {
    display: none !important;
  }
  /*------------ colonnes -------------------*/
  /*----------------------------- colonnes-----------------------------------*/
  .un,
  .deux,
  .trois,
  .quatre,
  .cinq,
  .six,
  .sept,
  .huit,
  .neuf,
  .dix,
  .onze,
  .douze {
    width: 100%;
  }
}
